<div class="dialog-container">

  <div class="dialog-actions-top-container">
    <mat-icon (click)='closeDialog()'>close</mat-icon>
  </div>

  <h6 *ngIf='header'>{{header | translate}}</h6>

  <div class="dialog-content-container">
    <div class="measure-input-container">
      <input type="number" min="0" max="200" name="water" id="water" [(ngModel)]='amount'>
    </div>
  </div>

  <div class="dialog-actions-container">
    <button [disabled]='!amount || amount < 0 || amount > 50' mat-raised-button (click)='update()'>{{ 'DIALOGS.UPDATE' | translate}}</button>
  </div>

</div>

