<div class="dialog-container">
  <mat-icon class="close-dialog" (click)='closeDialog()'>close</mat-icon>
  <div class="dialog-header-container">
    <h4>{{data?.header! | translate}}</h4>
  </div>
  <div class="dialog-content">
    <label >{{'DIALOGS.DATE' | translate}}</label>
    <p (click)='datePicker.openDialog()'><mat-icon>edit</mat-icon>{{date | date : 'dd/MM/YYYY'}}</p>
      <div class="display-none">
        <igx-date-picker #datePicker
                         [(ngModel)]='date'>
        </igx-date-picker>
      </div>
  </div>

  <div class="dialog-actions">
    <button mat-raised-button color="primary" (click)='save()'>{{'DIALOGS.CREATE' | translate}}</button>
    <button mat-raised-button class="cancel-button" (click)='closeDialog()'>{{'DIALOGS.CANCEL' | translate}}</button>
  </div>
</div>
