.dialog-container {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: s;
  height: 100%;
}

.dialog-content {
  height: 40%;
  display: flex;
  align-items: center;

  > * {
    width: 100%;
  }
}

.dialog-actions {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
