.dialog-container {
  direction: rtl;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: s;
  height: 100%;
}

.dialog-header-container {
  h4 {
    font-weight: 500;
  }
}

.dialog-content {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
    width: 100%;
  }

  label {
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 2px solid var(--blue-2);
    padding: 5px;

    mat-icon {
      margin: 0 1rem;
      color: var(--blue-2);
    }
  }


}

.dialog-actions {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
