<div class="dialog-container">
  <div class="dialog-actions-top">
    <mat-icon class="close-dialog" (click)='closeDialog()'>close</mat-icon>
  </div>
  <div class="header-container">
    <h4>{{data?.header! | translate}}</h4>
    <div class="meal-type-container">
      <label for="type-select">{{'MEALS.TYPES.MEAL_TYPE' | translate}}: </label>
      <select id="type-select" [formControl]='mealTypeFormControl'>
        <option *ngFor="let type of mealTypes" [value]="type.type">{{type.name | translate}}</option>
      </select>
    </div>
  </div>
  <div class="dialog-content">
    <div class="meal-date-time-container">
      <p id="time" (click)='timePicker.openDialog()'><mat-icon>watch_later</mat-icon>{{date | date: 'HH:mm'}}</p>
      <div class="display-none">
        <igx-time-picker #timePicker
                         class="time-picker-container"
                         [(ngModel)]='date'>
        </igx-time-picker>
      </div>
    </div>
      <div class="form-container" [formGroup]='newIngridientForm'>
        <div class="ingridient-name-container">
          <label for="ingrident-name">{{'DIALOGS.MESSAGES.INGRIDEINT_NAME' | translate}}: </label>
          <input formControlName='name' type="text" id="ingridient-name">
        </div>
        <div class="ingridient-amount-container">
          <label for="ingridient-amount">{{'DIALOGS.MESSAGES.INGRIDEINT_AMOUNT' | translate}}: </label>
          <input formControlName='quantity' type="number" min="1" id="ingridient-amount">
        </div>
        <button class="form-submit-button"
                [disabled]='newIngridientForm.invalid'
                mat-raised-button color='primary'
                (click)='addIngrideint()'>{{'DIALOGS.ADD' | translate}}
        </button>
      </div>
      <div class="ingridient-view-container">
        <div class="ingridient" *ngFor='let ing of ingridients; let i = index'>
          <mat-icon (click)='removeIngridient(i)' class="ingridient-delete">delete_forever</mat-icon>
          <span class="ingrident-name">{{ing.name}}</span>
          <span class="ingridient-amount">{{ing.quantity}}</span>
        </div>
      </div>
  </div>
  <div class="dialog-actions">
    <div class="image-and-reading-container" *ngIf='!!!data?.data || !!!data.data?.image'>
      <div class="image-container"
           [ngClass]='{"image-container--loaded": formData.has("mealImage")}'
           (click)='fileUpload.click()'>
        <mat-icon class="camera-icon">camera_enhance</mat-icon>
      </div>
    </div>
    <img class="meal-image"
         *ngIf='!!data.data?.image'
         [src]="data.data?.image"
         alt="meal-image"
         (click)='fileUpload.click()'
         appImagePlaceholder>
    <button mat-raised-button color="primary" (click)='save()' [disabled]='mealTypeFormControl.invalid'>{{'DIALOGS.CONFIRM' | translate}}</button>
    <button mat-raised-button class="cancel-button" (click)='closeDialog()'>{{'DIALOGS.CANCEL' | translate}}</button>
  </div>
</div>

<input #fileUpload
       type="file"
       accept="image/*"
       capture="environment"
       class="display-none"
       (change)="changeImage($event.target)">
