:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form {
  width: 100%;
  height: 90%;
  direction: rtl;
  border: 1px solid var(--blue-4);
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;

  h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  input {
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 5px;
  }
}
