<form [formGroup]='loginForm' class="form">

  <h3>{{'AUTH.LOGIN' | translate}}</h3>

  <input formControlName='email'
         type="email"
         name="email"
         id="email"
         placeholder="{{'AUTH.EMAIL' | translate}}">

  <input formControlName='password'
         type="password"
         name="password"
         id="password"
         placeholder="{{'AUTH.PASSWORD' | translate}}">
  <button mat-raised-button
          color='primary'
          type="button"
          (click)='submit()'
          [disabled]='loginForm.invalid'
          >{{'AUTH.SUBMIT' | translate}}
  </button>
  <button mat-raised-button
          color='secondary'
          type="button"
          [routerLink]="['/','auth','register']"
          >{{'AUTH.REGISTER' | translate}}
  </button>
</form>
