<div class="dialog-container">

  <div class="dialog-actions-top-container">
    <mat-icon (click)='closeDialog()'>close</mat-icon>
  </div>

  <h6 *ngIf='header'>{{header | translate}}</h6>

  <div class="dialog-content-container">
    <igx-date-picker class="date-picker-container" #datePicker [(ngModel)]='date'>
      <label igxLabel>{{'DIALOGS.DATE' | translate}}</label>
    </igx-date-picker>

    <igx-time-picker class="time-picker-container" [(ngModel)]='date'>
      <label igxLabel>{{'DIALOGS.TIME' | translate}}</label>
    </igx-time-picker>

    <div class="measure-input-container">
      <label for="measure">{{'DIALOGS.MEASURE' | translate}}</label>
      <input type="number" min="0" max="200" name="measure" id="measure" [(ngModel)]='result'>
    </div>
  </div>

  <div class="dialog-actions-container">
    <button mat-raised-button (click)='data?.data?._id ? update() : create()'>{{ data?.data?._id ? ('DIALOGS.UPDATE' | translate) : 'DIALOGS.CREATE' | translate}}</button>
  </div>

</div>


