<form [formGroup]='registrationForm' class="form">

  <h3>{{'AUTH.REGISTERATION' | translate}}</h3>

  <input formControlName='email'
         type="email"
         name="email"
         placeholder="{{'AUTH.EMAIL' | translate}}">

  <input formControlName='password'
        type="password" name="password"
        placeholder="{{'AUTH.PASSWORD' | translate}}">

  <input formControlName='repeat_password'
         type="password"
         name="repeat_password"
         placeholder="{{'AUTH.REPEAT_PASSWORD' | translate}}">

  <button type="button"
          (click)='submit()'
          [disabled]='registrationForm.invalid'
          mat-raised-button color='primary'
          >{{'AUTH.REGISTER' | translate}}
  </button>
  <button type="button"
          [routerLink]="['/','auth','login']"
          mat-raised-button color='secondary'
          >{{'AUTH.HAVE_USER' | translate}}
  </button>
</form>
