:host {
  // min-height: calc(100vh - var(--app-header-height));
}

.day-container {
  // min-height: calc(100vh - var(--app-header-height));
  min-width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 3rem;

  .date-span {
    width: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 2rem;
    font-weight: 700;
    background: antiquewhite;
    text-align: center;
  }

  .delete-day {
    position: absolute;
    right: 20px;
    top: 12px;
    color: red;
  }
}

.day-content-container {
  // display: flex;
  // flex-direction: column;
  min-width: 100%;
  // min-height: calc(100vh - var(--app-header-height) - 4rem);
  // overflow-x: auto;
  // overflow-y: hidden;
  padding: 1rem;
}

.meals-container {
  min-width: 100%;
  border: 1px solid var(--blue-4);
  padding: 1rem;
  border-radius: 10px;
  height: 100%;
  box-shadow: 1px 1px 4px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    margin-bottom: 1rem;
  }
}

.add-first-meal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .add-first-meal-button {
    background: var(--blue-4);
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 3px 4px 6px rgb(0 0 0 / 45%);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      font-size: 4rem;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.add-meals {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse;

  h6 {
    font-size: 1rem;
    font-weight: 600;
  }

  .add-meal-button {
    background: var(--blue-4);
    color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow: 3px 4px 6px rgb(0 0 0 / 45%);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;

    mat-icon {
      font-size: 2rem;
      padding: 0;
      margin: 0 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
