:host {
  min-height: calc(100vh - var(--app-header-height));
}

.day-container {
  min-height: calc(100vh - var(--app-header-height));
  min-width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 3rem;

  .date-span {
    width: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 2rem;
    font-weight: 700;
    background: antiquewhite;
    text-align: center;
  }
}

.day-horizontal-scroll-container {
  display: flex;
  min-width: 100%;
  min-height: calc(100vh - var(--app-header-height) - 4rem);
  overflow-x: auto;
  overflow-y: hidden;
}

.meal-add-container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
