<div class="days-container" *ngIf='days.length; else noDays'>
  <app-day *ngFor='let day of days; trackBy:identify'
           [date]='day.date'
           [meals]='day.meals'
           [dayId]='day._id'
           [detailedView]='detailedView'
           (deleteDayEmmiter)='deleteDay($event)'>
  </app-day>
  <button *ngIf='!detailedView'
          class="add-day-button"
          (click)='addDay()'>
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>

<ng-template #noDays>
  <div class="days-container days-container--empty">
    <h3>{{'MEALS.ADD_DAY' | translate}}</h3>
    <button *ngIf='!detailedView'
            class="add-day-button"
            (click)='addDay()'>
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</ng-template>

