:host {
  height: calc(100vh - var(--app-header-height));
}

.readings-container {
  width: 100%;
  max-height: calc(100vh - var(--app-header-height));
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  // padding-top: 20px;

  &--empty {
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    > * {
      padding: 0;
      margin: 0;
      white-space: pre-wrap;
    }
  }
}

.reading {
  width: 100%;
  display: flex;
  min-height: 4rem;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  background-color: var(--bullet-graph-backing-outline);
  border: 4px solid green;

  &--morning {
    border: 4px solid red;
  }

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.readings-table {
  background: transparent;
  span {
    font-weight: 500;
  }
}
