body {
  --app-header-height: 65px;
  --medium-border-radius-1: 8px;
  --medium-border-radius-2: 10px;
  --large-border-radius-1: 20px;
  --field-spacing: 15px;
  --dialog-container-padding: 24px;
  --dialog-header-height: 67px;
  --dialog-footer-height: 80px;
}
