@import './custom-material-desing.scss';
@import './colors.scss';
@import './general-variables.scss';

html {
  display: flex;
  justify-content: center;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Heebo, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}
body {
  background: var(--blue-6);
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--blue-4) var(--color-white);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.display-none {
  display: none;
}

.direction-rtl {
  direction: rtl;
}

button.mat-menu-item {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

[data-direction="rtl"] {
  .toolbar {
    flex-direction: row-reverse;
  }
  .mat-menu-item {
    direction: rtl;
    mat-icon {
      margin-right: 0;
      margin-left: 16px;
    }
  }
}

app-header {
  display: none;
  visibility: hidden;
}

[data-location="login"],
[data-location="register"],
[data-location="app"] {
  app-header {
    display: none;
    visibility: hidden;
  }
}

[data-location="meals"],
[data-location="morning-measurements"],
[data-location="graphs"] {
  app-header {
    display: revert;
    visibility: revert;
  }
}

// [data-display="mobile"] {
//   body::-webkit-scrollbar {
//     display: none;
//   }
//   body {
//     -ms-overflow-style: none;
//     scrollbar-width: none;
//   }
// }

@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

@include igx-core();
@include igx-theme($default-palette);

mat-icon {
  cursor: pointer;
}

input, select {
  border: none;
  border-bottom: 1px solid var(--blue-2);
}
