:host {
  // min-width: 100vw;
  // min-height: calc(100vh - var(--app-header-height) - 4rem);
  // height: calc(100vh - var(--app-header-height) - 4rem);
  // max-height: calc(100vh - var(--app-header-height) - 4rem);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding: 1rem;
  width: 100%;
}

.meal-container {
  height: 100%;
  direction: rtl;
  // width: 100vw;
  // border: 1px solid var(--blue-4);
  // border-radius: 10px;
  // box-shadow: 1px 1px 4px 0px;
  // padding: 10px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  display: flex;
  justify-content: space-between;
  background: var(--blue-6);
  border-radius: 5px;
  font-weight: 600;
}

.meal-reading {
  display: flex;
  align-items: center;

  .reading-result {
    margin: 0 1rem;
  }
}

.meal-controls {
  display: flex;
  justify-content: space-between;
  .delete {
    color: var(--igx-button-fab-focus-background);
  }
  .edit {
    color: var(--blue-2);
  }
}

.meal-headers {
  display: flex;
  justify-content: space-around;
  h4 {
    font-size: 2rem;
    font-weight: 600;
  }
}

.meal-ingridients {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: auto;
  justify-content: center;
  .ingridient {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
    font-style: italic;
    white-space: nowrap;
    :last-child {
      margin: 0 1rem;
    }
  }
}

.meal-sugar-reading-new {
  display: flex;
  align-items: center;
  justify-content: space-around;
  h5 {
    margin: 0;
    padding: 0;
    font-weight: 500;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--bullet-graph-scale-background-outline);
    border-radius: 50%;
    background: var(--blue-6);
    height: 3rem;
    width: 3rem;
    box-shadow: 3px 1px 11px -8.5px var(--blue-3);
  }
}

.meal-sugar-reading-existing {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  :first-child {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .reading-container {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid var(--blue-2);
    mat-icon {
      color: var(--blue-2);
    }
  }
}

.meal-image {
  min-width: 100%;
  min-height: 45%;
  max-width: 100%;
  max-height: 45%;
  object-fit: contain;
  border-radius: 10px;
}
