<div class="meal-container"
     [ngClass]='{"meal-container--detailed": detailedView}'>

  <ng-container *ngTemplateOutlet="detailedView ? detailedMode : editMode"></ng-container>

  <ng-template #detailedMode>
    <div *ngIf='meal?.ingridients?.length'
          class="meal-container-header">
      <span *ngIf='mealType'>{{meal?.time | json | date : 'HH:mm'}}</span>
      <span *ngIf='mealType'>{{mealType | translate}}</span>
      <div *ngIf='meal?.reading'
           class="meal-reading">
        <mat-icon class="reading-icon">invert_colors</mat-icon>
        <span class="reading-result">{{meal?.reading?.result}}</span>
      </div>
    </div>
    <div *ngIf='meal?.ingridients?.length'
         class="ingridients-container">
      <div *ngFor='let ingridient of meal?.ingridients;
                   let i = index;
                   trackBy:identify'
            class="ingridient">
        <span>{{ingridient.name}}</span>
        <span>{{ingridient.quantity}}</span>
      </div>
    </div>
  </ng-template>

  <ng-template #editMode>
    <mat-icon class="delete" (click)='deleteMeal()'>delete</mat-icon>
    <span *ngIf='mealType'>{{meal?.time | json | date : 'HH:mm'}}</span>
    <span *ngIf='mealType'>{{mealType | translate}}</span>
    <div class="meal-reading"
        (click)='sugarReadingForMeal()'>
      <mat-icon class="reading-icon">invert_colors</mat-icon>
      <span class="reading-result reading-result--empty" *ngIf='!!!meal?.reading'>----</span>
      <span class="reading-result" *ngIf='!!meal?.reading'>{{meal?.reading?.result}}</span>
    </div>
    <mat-icon class="edit" (click)='updateMeal()'>edit</mat-icon>
  </ng-template>

</div>
